// IMPORTANTE: Clone este arquivo com o nome: .env
// Não edite este arquivo pois ele está sendo armazenado no repositório do
// git. Não adicione informações privadas aqui. Faça isso no arquivo clonado.

APP_NAME=Teste usando variáveis de ambiente

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
Db_NAME=
